@import url("https://fonts.googleapis.com/css2?family=Lora|Roboto|Merriweather");
@import url("components/avatar.css"); 
@import url("components/button.css"); 
@import url("components/container.css"); 
@import	url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("componenets/banner.css");

    
body { 
    font-family: 'Lora', sans-serif;
    background-color: rgb(240, 240, 240); 
    align-items: center;
}

h1, h2, h3{

	 font-family: Roboto, Helvetica, sans-serif;
}


 
 